<!DOCTYPE html>

<html lang="ko">

<head>
    <meta charset="UTF-8">
    <title>Search DEMO</title>
    <link rel="stylesheet" href="/static/web/css/index.css">
</head>

<body>
<div id="app">
    <div id="inputArea">
        <input v-model="query" v-on:keyup.enter="pressSearchBtn()" type="text"/>
        <input v-on:click="pressSearchBtn()" type="submit" value="GO">

    </div>
    <hr>

    <div id="documentsArea">
        <ul>
            <li v-for="(doc, index) in documents">
                <div class="line-one">
                    <img v-bind:src="doc.img_url">
                    <a id="title" v-bind:href="doc.url" v-html="doc.title" target="_blank"></a>
                    <br>
                    <div id="information">
                        <a class="channelName" v-bind:href="doc.channel_url" v-html="doc.channel_name"
                           target="_blank"></a>
                        조회수 ${displayViews(doc.views)}
                        <p class="description">${doc.summary}</p>
                    </div>

                </div>
            </li>
        </ul>
    </div>
    <p v-if="page >= max_page">죄송</p>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="/static/web/js/vue.min.js"></script>
<script src="/static/web/js/axios.min.js"></script>
<script src="/static/web/js/app.js"></script>
</body>
</html>
